*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: orange;
    margin-bottom: 3px;
}
main{
    background-color: black;
    display: flex;
    padding: 20px;
    padding-right: 60px;
}
.email,.contact{
    color: white;
    font-weight: bold;
    flex-basis: 250px;
    padding-left: 30px;
    padding-right: 20px;
}
.email:hover,.contact:hover{
    color: red;
}
.links{
    flex-grow: 1;
    padding-left: 200px;
    text-align: right;
    padding-left: 20px;
}
.logo1{
    padding-left: 30px;
}
nav{
    padding: 30px;
    background-color: aquamarine;
    display: flex;
}
.techlogo{
    font-size: 25px;
    color: green;
}
.nav1{
    flex-basis: 200px;
}
.nav2{
    flex-grow: 1 ;
    text-align: center;
    padding-right: 100px;
}
.nav2 .nava{
    text-decoration: none;
    padding: 30px;
    color: black;
}
.nava:focus + .child{
    display: block;
}
.child {
    position: absolute;
    background-color: aliceblue;
    display: none;
    top: 100%;
    left: 10px;
    padding: 10px;
    margin-left: 30px;
    border: 1px solid #ccc;   
}
.child a{
  text-decoration: none;
  color: #337ab7;
  font-size: 16px;
  display: block;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.child1, .child2 {
    display: block;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
    padding: 10px;
}
.child1:hover,.child2:hover{
    color: white;
    background-color: black;
}
.child1 a:hover, .child2 a:hover {
    background-color: #337ab7;
    color: #ffffff;
    transition: background-color 0.3s ease;
}
.parent{
    position: relative;
    display: inline-block;
    border-radius: 5px;
}
.parent:hover.child{
    display:  block;
    position: absolute;
    background-color: white;
    left: 39%;
    top: 150px;
}
.nav2 .nava:hover{
    color: red;
    background-color: whitesmoke;
}
.nav3{
    flex-basis: 200px;
}
.nav3button{
    background-color: green;
    color: white;
    border: green;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}
#enqiryform{
    border:2px solid white;
    height: 200px;
    padding-top: 2px;
    width: 10%;
    text-align: center;
    background-color: white;
    box-shadow: 5px 5px  white;
    display: none;
}
.nav3button:hover #enqiryform{
    display: block;
    position: absolute;
    left:550px;
    top: 90px;
}
.formicons{
    background-color: rgb(20,163,238);
    width:350px;
    margin: 20px;
    text-align: center;
}
 #enqiryform input{
    width: 100px;
}
.formbutton1{
    width: 170px; 
    background-color: rgb(20,163,238);
    padding: 8px;
    border-radius: 15px;
}
.main1{
    background-image: url("img2.jpg");
    background-size: cover;
    width: 100%;
    height: 500px;
    animation: images 15s infinite;
}
.main1 .text1{
    padding-left: 150px;
    padding-top: 100px;
    color: white;
}
@keyframes images{
    20%{
        background-image: url(img2.jpg);    
    }
    40%{
        background-image: url(the.jpeg);    
    }
    60%{
        background-image: url(th.jpeg);
    }
    80%{
        background-image: url(img.jpg);
    }
    100%{
        background-image: url(img2.jpg);
    }
        
    }
.main2{
        color: white;
        display: grid;
        grid-template-columns:auto auto auto auto;
        grid-gap: 20px;
    }
.main2 i{
        margin-top: -50px;
        border: 1px solid white;
        padding: 20px;
        border-radius: 50%;
        color: black;
        background-color: whitesmoke;
        box-shadow: 0 0 2px black;
    }
.main2 .text2{
        background-color: mediumseagreen;
        border-radius: 15px;
        padding: 20px;
        text-align: center;
        padding-bottom: 40px;
    }
.main2 .text2:hover{
        background-color: white;
        box-shadow: 1px 1px 10px black;
        color: black;
    }
.coursedetails{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-row-gap: 30px;
        margin-left: 100px;
       padding-bottom: 30px;
       
    }
.course1{
        width: 350px;
        text-align: center;
        border: 1px solid black;
        padding-bottom: 20px;
        box-shadow: 1px 1px 5px blue;
        padding-top: 0px;
    
    }
.coursedetails i{
        color: darkorange;
    }
.coursedetails a{
        background-color: lightseagreen;
        text-decoration: none;
        padding: 5px;
        color: white;
        padding-top: 0px ;
    }
.coursedetails a:hover{
        color: blue;
        text-decoration: underline;
    }
.course1 h3 {
        background-color: lightseagreen;
        padding: 5px;
        padding-bottom: 10px;
        color: aliceblue;
    }
.foot{
        display: grid;
        grid-template-columns: auto auto auto auto;
        background-color: lightcyan;
        padding: 40px;
    }
.suscribe input{
        padding: 5px;
        margin-bottom: 10px;
    }
.suscribe i{
        padding: 10px;
        background-color: lightseagreen;
        color: black;
        border-radius: 5px;
        margin-left: 5px;
        margin-top: 5px;
    }
    
.formicons{
        background-color: rgb(20,163,238);
        width:350px;
        margin: 20px;
        text-align: center;
        margin-left: 10px;
    }
input{
        width: 180px;
    }
.formbutton1{
        width: 110px; 
        background-color: rgb(162, 243, 174);
        padding: 10px;
        border-radius: 10px;
    }

.enqiryform{
        border:2px solid black;
        height: 350px;
        width: 24%;
        text-align: center;
        background-color: white;
        position: absolute;
        left: 1090px;
        top: 150px;
        border-radius: 10px;
        padding-top: 50px;
        
    }
.enqiryform{
        display: none;
    }
.nav3:hover .enqiryform{
            display: block;
            position: absolute;
    }
    .Aply{
        margin-left: 150px;
        background-color: brown;
        border-radius: 10px;
        padding: 10px;
    }
  
#applylink{
        text-align: center;
        width: 20%;
        border-radius: 15px;
        border: 2px solid black;
        background-color: white;
        color: black;
        position: absolute;
        left: 150px;
       padding: 1.5rem 0rem;
    }
#applylink input{
        border-style: none;
        border-bottom: 1px solid black;
        margin-top: 10px;
    }
    
#applylink footer{
        background-color: blue;
        color: white;
        padding: 5px;
        width: 75%;
        margin-left: 35px;
    }
#app44xlylink{
        display: none;
    }.aply #applylink {
        display: none;
      }
      
      .Aply:hover + #applylink {
        display: block;
      }                   